<h1>Incoming Message</h1>
<%= link_to "Outgoing Message", outgoing_messages_path %>
<%= link_to "Add Friend", users_path %>
<%= link_to "New Message", "/" %>
<% if @incoming_messages%>
	<p>You have <%= @incoming_messages.size %> incoming messages</p>
	<table>
	<tr>
		<td><strong>From</strong></td>
		<td><strong>Subject</strong></td>
		<td><strong>Body</strong></td>
		<td><strong>Sent at</strong></td>
	</tr>
	<% @incoming_messages.each do |message| %>
		<tr>
			<% unless message.read_status%>
			<td><strong><%= message.sender %></strong></td>
			<td><strong><%= message.subject %></strong></td>
			<td><strong><%= message.body %></strong></td>
			<td><strong><%= message.created_at %></strong></td>
			<% else%>
			<td><%= message.sender %></td>
			<td><%= message.subject %></td>
			<td><%= message.body %></td>
			<td><%= message.created_at %></td>
			<% end %>
			<td>
			<%= link_to "Mark as read", mark_as_read_message_path(message.id), {:method=> :post} %><%#//TODO change this to "View message" function%>
			</td>
<% end %>
		</tr>
<% else %>
	<p>You haven't got any messages. Want to send some?</p>
<% end %>

</table>
