<h1>Incoming Message</h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Incoming Message", incoming_messages_path, class: 'nav-link active' %>
  </li>
  <li class="nav-item">
    <%= link_to "Outgoing Message", outgoing_messages_path, class: 'nav-link'  %>
  </li>
  <li class="nav-item">
    <%= link_to "Friend List", relationships_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "New Message", new_message_path, class: 'nav-link' %>
  </li>
</ul>



<% if @incoming_messages%>
	<div class="inline">You have <%= @incoming_messages.size %> incoming messages
	<%= link_to "New Message", new_message_path, class: 'btn btn-primary btn-sm'  %></div>
	<table class="table">
	<tr>
		<th><strong>From</strong></th>
		<th><strong>Subject</strong></th>
		<th><strong>Sent at</strong></th>
	</tr>
	<% @incoming_messages.each do |message| %>
		<tr>
		<%#//TODO How to shortern below codes???%>
			<% unless message.read_status%>
			<td><strong><%= message.sender %></strong></td>
			<td><strong><%= message.subject %></strong></td>
			<td><strong><%= message.created_at %></strong></td>
			<% else%>
			<td><%= message.sender %></td>
			<td><%= message.subject %></td>
			<td><%= message.created_at %></td>
			<% end %>
			<td>
			<%#= link_to "Mark as read", mark_as_read_message_path(message.id), {:method=> :post} %>
			<%= link_to "View Message", message_path(message.id) %>
			</td>
<% end %>
		</tr>
<% else %>
	<p>You haven't got any messages. Want to send some?</p>
<% end %>

</table>