<h1>New Message</h1>
<%= form_for @message do |f|%>
	<% if @message.errors.present?%>
	<div class="alert alert-danger">
  <%= @message.errors.full_messages.to_sentence%>
  </div>
  <%end%>
	<%= f.select :recipient, [['Abc','1'],['Xyz','2']] %>
	<%= f.text_field :subject, placeholder: "Subject"%>
	<%= f.text_area :body, placeholder: "Body"%>
	<%= f.submit %>

<% end %>