<h1>Sent Messages</h1>
<%= link_to "Friend List", relationships_path %>
<%= link_to "Incoming Message", incoming_messages_path %>
<%= link_to "New Message", new_message_path %></p>
<% if @outgoing_messages%>
	<p>You have sent <%= @outgoing_messages.size %> messages</p>
	<table>
	<tr>
		<td><strong>To</strong></td>
		<td><strong>Subject</strong></td>
		<td><strong>Read at</strong></td>
	</tr>
	<% @outgoing_messages.each do |message| %>
		<tr>
			<td><%= message.recipient %></td>
			<td><%= message.subject %></td>
			<% if message.read_status == 1%>
				<td><%= message.updated_at %></td>
			<% else%>
				<td>Unread</td>
			<% end %>
<% end %>
		</tr>
<% else %>
	<p>You haven't sent any messages. Start a conversation now:<%= link_to "New Message", "/" %></p>
<% end %>

</table>
