<h1>Community</h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Incoming Message", incoming_messages_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Outgoing Message", outgoing_messages_path, class: 'nav-link'  %>
  </li>
  <li class="nav-item">
    <%= link_to "Friend List", relationships_path, class: 'nav-link active' %>
  </li>
	<li class="nav-item">
    <%= link_to "New Message", new_message_path, class: 'nav-link' %>
  </li>
</ul>
<% if @users%>
	<table>
	<tr>
		<td>Here's a list of all users.</td>
	</tr>
	
	<% @users.each do |user| %>
		<tr>
			<td><%= user.email %></td>
			<td>
				<%= button_to 'add friend', 
				{:controller =>relationships_path, :action => "create", :first_person_id => current_user.id, :second_person_id => user.id} ,
				 :method=>:post,
				 class: 'btn btn-primary btn-sm'  %>
			</td>
		</tr>
	<% end %>
	 


<% else %>
	<p>Hey, WELCOME!! You are our first user EVAHHH!!! Mind helping us invite some friend over? <%= link_to "Invite friends", ""%></p>
<% end %>

</table>
<ul class="nav nav-pills">
  <li class="nav-item">
		<%= link_to "Friend List", relationships_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
		<%= link_to "Block List", blocklists_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Add Friend", users_path, class: 'nav-link active' %>
  </li>
</ul>